#tree-holder {
  float: left;
  margin: 30px 10px 0 10px;
  width: 280px;
  height: calc(100% - 10px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-top: 10px;
}

#snippets {
  padding: 10px 20px;
  float: left;
  margin: 30px 0 0px 0px;
  width: calc(100% - 360px);
  overflow: scroll;
  height: calc(100% - 20px);
  border-left: 1px solid #ddd;
  list-style: none;
}

#snippets li {
  margin-bottom: 10px;  
}

.snippet-text {
  width: 100%;
  color: #444;
  cursor: pointer;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.filename {
  color: #444;
  font-weight: bold;
  margin: 10px 5px 10px 0px;
  float: left;
}

.line-number {
  font-weight: bold;
}

#qda-panel {
  background: white;
  overflow: hidden;
  user-select: all;
  -webkit-user-select: all;
  font-family: sans-serif;
}

.snippet-text.selected {
/*  background: #D6FFC2;*/
  background: #eee;
  border-radius: 4px;
}

.contextMenuStyle {
  position: absolute;
  background-color: #eee;
  border: 1px solid #000;
  list-style: none;
}

.contextMenuStyle > li {
  background-color: #eee;
}

#contextMenu.dropdown-menu {
  min-width: 0 !important;
}

.tag-count {
  margin-left: 5px;
  color: #666;
  vertical-align: middle;
}

#qda-menu {
  position: fixed;
  width: 100%;
  height: 20px;
  background: #666;
  padding: 5px;
  z-index: 10;
}

#snippets-panel-close {
  cursor: pointer;
  position: fixed;
  color: #eee;
  right: 38px;
  padding-top: 2px;
  font-size: 16px;
}

#add-group-button {
  position: fixed;
  cursor: pointer;
  padding: 1px 6px 0px;
  border-radius: 3px;
  margin: 0px 0 0 5px;
  font-size: 90%;
  color: #eee;
}

#add-search-button {
  position: fixed;
  cursor: pointer;
  padding: 1px 6px 0px;
  border-radius: 3px;
  margin: 0px 0 0 80px;
  color: #eee;
  font-size: 90%;
}

/*********** jqTree stuff ************/

/*
.tag-group {
  margin-left: 0 !important;
}
*/

ul .jqtree-element {
  padding-left: 5px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
/*  background: #D6FFC2 !important;*/
  background: #eee !important;
  border-radius: 3px;
  color: white !important;
}

.jqtree-toggler {
  font-size: 80%;
  color: #666;
}

#qda-panel .jqtree-title {
  margin-left: 14px !important;
  color: #444;
}

#qda-panel .jqtree-title.jqtree-title-folder {
  margin-left: 0 !important;
/*  font-weight: bold;*/
}

#qda-panel .fa {
  margin-right: 5px;
}

#tag-browser {
  height: calc(100% - 30px);
  display: block;
}

#tag-browser-button {
  position: absolute;
  left: 20px;
  color: #fff;
  cursor: pointer;
  /* border-radius: 3px; */
  /* background: #ccc; */
  /* padding: 0px 6px; */
  font-size: 90%;
  border-bottom: 2px solid #fff;
  height: 23px;
}

.fa-question-circle {
 color: #6d8600 !important;
}

.fa-folder {
 color: #446fbd !important;
}

.fa-tag {
 color: #e88501 !important;
}

#filter-text {
  border: 1px solid #aaa;
  right: 76px;
  font-size: 90%;
  height: 10px;
  position: fixed;
  width: 150px;
  background: transparent;
  color: #fff;
}

#filter-text:focus {
  border: 1px solid #aaa !important;
  box-shadow: none !important;
}

.path {
  font-size: 90%;
  color: #666;
/*  position: absolute;*/
  margin-top: 10px;
  float: left;
}

#num-results {
  position: fixed;
  color: white;
  right: 252px;
  padding-top: 1px;
  font-size: 90%;
}

#qda-browser-icon {
  color: #bbb !important;
  padding-top: 2px;
  height: 18px !important;
  text-decoration: none !important;
}

#qda-panel-reload {
  cursor: pointer;
  position: fixed;
  font-size: 80%;
  color: #eee;
  right: 50px;
  margin-top: 6px;
}