#tree-holder {
/*  background: lightgray;*/
  padding: 10px;
  border-right: 1px solid #ccc;
  float: left;
  margin: 40px 0 0 10px;
  width: 280px;
  height: calc(100% - 72px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
/*  border-radius: 3px;*/
}

#tree {
}

#snippets {
  padding: 10px;
  float: left;
  margin: 30px 0 0px 20px;
  width: calc(100% - 360px);
  overflow: scroll;
  height: calc(100% - 50px);
}

.snippet-text {
  color: #444;
  cursor: pointer;
  padding: 5px;
}

.filename {
  margin: 0.5em 0 0 0;
  color: #444;
  font-weight: bold;
}

.line-number {
  font-weight: bold;
}

#qda-panel {
  background: white;
  overflow: hidden;
  user-select: all;
  -webkit-user-select: all;
  font-family: sans-serif;
}

.snippet-text.selected {
  background: #D6FFC2;
  border-radius: 4px;
/*  color: black;*/
}

.contextMenuStyle {
  position: absolute;
  background-color: #eee;
  border: 1px solid #000;
  list-style: none;
}

.contextMenuStyle > li {
  background-color: #eee;
}

#contextMenu.dropdown-menu {
  min-width: 0 !important;
}

.tag-count {
  margin-left: 5px;
  color: #666;
  vertical-align: middle;
}

#qda-menu {
  position: fixed;
  width: 100%;
  height: 20px;
  background: #999;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  z-index: 10;
}

#snippets-panel-close {
  cursor: pointer;
  position: fixed;
  font-size: 120%;
  color: #fff;
  right: 40px;
}


#add-node-button {
  position: fixed;
  cursor: pointer;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
}

/*********** jqTree stuff ************/

/*
.tag-group {
  margin-left: 0 !important;
}
*/

ul .jqtree-element {
  padding-left: 5px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: #D6FFC2 !important;
  border-radius: 3px;
  color: white !important;
}


.jqtree-toggler {
  font-size: 80%;
  color: #666;
}

#qda-panel .jqtree-title {
  margin-left: 14px !important;
  color: #444 !important;
}

#qda-panel .jqtree-title.jqtree-title-folder {
  margin-left: 0 !important;
/*  font-weight: bold;*/
}

#qda-panel .fa {
  margin-right: 5px;
}